@model Rent_A_Tesla.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupLocation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnLocation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartRes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartRes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndRes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndRes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
